
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
body{
    
    background-color: var(--Light-grayish-cyan);
}
main{
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    
}

.title{
    color: var(--Dark-grayish-cyan);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    margin: 1.5rem;
}

.container{
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 20px;
    padding: 1.6rem;
   
}

.leftSection{
    color: var(--Dark-grayish-cyan);
}
.amount, .countPeople{
    position: relative;
    display: flex;
    align-items: center;
}

.amount img , .countPeople img{
    position: absolute;
    margin: 5px ;
}
label{
    display: inline-block;
    margin: 15px 0;
}

.totalAmount , .person , .custom{
    width: 100%;
    text-align: right;
    padding: 0.5rem;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--Very-dark-cyan);
    background-color: var(--Very-light-grayish-cyan);
    outline-color: var(--Strong-cyan);
    padding: 10px;
}

.tip-btns{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.tip-btns button  {
    font-size: 1.3rem;
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-grayish-cyan);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 8px;
    border-radius: 6px;
}

.rightSection{
    background-color: var(--Very-dark-cyan);
    border-radius: 20px;
    padding: 30px 20px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.tip-amount , .total{
    display: flex;
    justify-content: space-between;
}

.rightSection p{
    color: var(--Very-light-grayish-cyan);
    font-size: 1.5rem;
}
.rightSection p span{
    color: var(--Grayish-cyan);
}
.rightSection h2{
    color: var(--Strong-cyan);
    
}

.rightSection button{
    background-color: var(--Strong-cyan);
    font-size: 1.3rem;
    color: var(--Very-dark-cyan) ;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 5px;
    margin-top: 3rem;
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    .container{
        display: grid;
        grid-template-columns: 50% 50% ;
        gap: 20px;
        width: 750px;


    }

    .rightSection{
        width: 330px;
        margin-top: 0;
        padding: 25px;
    }
    .tip-amount{
        margin-bottom: 1rem;
    }
    .tip-btns{
        grid-template-columns: 1fr 1fr 1fr;
    }


}


